menu "Van Management Project Configuration"
    config ENABLE_PHYSICAL_SWITCH
        bool "Enable Physical Switch"
        default y
        help
          Enable support for the physical switch on the Main PCB.

    config ENABLE_VIRTUAL_SWITCH_UART
        bool "Enable Virtual Switch (UART)"
        default n
        help
          Enable a virtual switch interface exposed over UART.
endmenu
